

.aboutUs{
    background: radial-gradient(circle, rgba(59,56,56,1) 0%, rgba(37,37,37,1) 78%);
    color: white;
    padding: 60px;
}

.aboutUs p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.466);
}

.aboutUsTime h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    letter-spacing: 5px;
}

.aboutUsTime p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    text-align: center;
}

.aboutUsInfo{
    text-align: center;
    padding: 60px;
}

.aboutUsInfo p{
    color: white;
    line-height: 2rem;
    padding-bottom: 20px;
}

.aboutUsBox{
    display: flex;
    justify-content: center;
    gap: 500px;
}