.GalerieBox{
    color: white;
    padding: 60px;
}

.GalerieBox p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.466);
}

.InterierBox img{
    width: 100%;
    max-height: 370px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease; 
}

.InterierBox img:hover {
    transform: scale(1.1); 
}

.imagesBox{
    display: flex;
    gap: 60px;
    padding-top: 30px;
    justify-content: center;
}
